/** Scaffolding **/
body { font-size:16px; font-family: 'PT Sans', "Proxima Nova", sans-serif; }
header { background-color:#fff; font-weight:700; }
footer { background-color:#e0d8ca; min-height:400px; }
h1, h2, h3 { font-family: 'Bitter', "Clarendon LT Std", serif; font-weight:400; }
.grid-container { max-width:1126px; }

/** Sprinkles **/
.blueBorderRight { border-right: 2px dotted #157cbd; }
.bigSection { margin-bottom:44px; }
.midSection { height:305px; margin-bottom:32px; }
.smallSection { height:195px; margin-bottom:32px; }
.coupon { border:2px dashed #b9b63f; }

/** Color Definition **/
.startHidden { display: none; }
.textPeach { color:#f39772; }
.inactive { color:#ccc; }
a { color:inherit; text-decoration:none; }
	a.hover { text-decoration:underline; }
a.blue { color:#006fbc; }
a.push { font-weight:700; color:#323033; }
a.bttn { background-color:#0171bd; color:#fff; font-size:130%; text-align:center; border-radius:9px; text-decoration:none; cursor:pointer; }
i.white { color:#f9f5e9; }
i.black { color:#323033 }
i.orange { color:#ef8360; }

/** Header **/
#TopNav ul { float:left; padding:18px 0 0 0; margin:0; }
	#TopNav li { display:inline-block; font-size: 140%; color:#a08a83; margin-left:0; }
	#TopNav li a { padding:4px 8px; cursor:pointer; text-decoration:none; }
		#TopNav li a:hover { color:#fff; }
	header li a.brands { color:#7dac48; }
		header li a.brands:hover { background-color:#7dac48; }
	header li a.recipes { color:#eb8363; }
		header li a.recipes:hover { background-color:#eb8363; }
	header li a.blogs { color:#337f83; }
		header li a.blogs:hover { background-color:#337f83; }
	header li a.offers { color:#f43a00; }
		header li a.offers:hover { background-color:#f43a00; }
header .userSettings a { font-size:70%; }
input.search { background-color:#fbd5c5; color:#5d5147; font-family:"Proxima Nova"; font-weight:500; font-size:90%; border:none; border-radius:8px; padding:16px; margin-top:14px; line-height:180%; }
.searchbutton { margin-left:-34px; margin-top:20px; background-color:#fff; border:none; border-radius:8px; padding:6px; }

#NavSlide { position:fixed; top:0; left:0; background-color:#f9f5e7; box-shadow:2px 2px 4px #333; }
	#NavSlide ul { margin:0; padding:0; }
		#NavSlide li { padding-bottom:4px; }
		#NavSlide li a { background-color: #fff; padding:6px 16px; display:block; font-size:160%; }

/** Main **/
#Main { background-color:#f9f5e9; }
	/** Front Page **/
	.grabber h1 { font-size:345%; line-height:105%; margin:24px 0; padding:0; }
	.grabber p { font-size:125%; margin-top:32px; }
	
	/** image rotator **/
	.slider img { max-width:100%; }
	
	/** Featured Item Boxes **/
	.coupon { padding:24px; }
	.featured { position:relative; overflow:hidden; }
		.featured figure { width:100%; height:100%; overflow:hidden; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position:center right; background-repeat:none; }
			.featured figure img { max-width:100%; }
		.featured details { position:absolute; top:0; left:0; height:100%; padding:24px; color:#fff; box-shadow:1px 0 2px #333; }
			.featured details:after { left: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-width: 20px; top: 20%; margin-top: -20px; }
			.featured details.color1 { background-color:#ed8363; }
				.featured details.color1:after { border-color: rgba(237, 131, 99, 0); border-left-color: #ed8363;}
			.featured details.color2 { background-color:#d5a015; }
				.featured details.color2:after { border-color: rgba(213, 160, 21, 0); border-left-color: #d5a015;}
			.featured details.color3 { background-color:#b45900; }
				.featured details.color3:after { border-color: rgba(180, 89, 0, 0); border-left-color: #b45900;}
			.featured details.color4 { background-color:#23909a; }
				.featured details.color4:after { border-color: rgba(35, 144, 154, 0); border-left-color: #23909a;}
			
			.featured details h4 { color:#323033; font-weight:400; margin:0; padding:0; line-height:115%; }
			.featured details h2 { margin:0; padding:6px 0; line-height:105%; max-height:58px; overflow:hidden; }
			.featured summary { max-height:68px; overflow:hidden; margin-bottom:6px; }
		.featured .add.favorites { display:block; height:32px; width:32px; background-position:center; background-repeat:no-repeat; position:absolute; right:12px; top:12px; cursor:pointer; }
			.featured .add.favorites.off { background-image:url(../img/icon_favorite_off.png); }
			.featured .add.favorites.on { background-image:url(../img/icon_favorite_on.png); }
		.featured aside.rating { position:absolute; bottom:12px; right:12px; background-color:rgba(255, 255, 255, 0.9); padding:9px 12px; }
			.rating .star { display:inline-block; width:18px; height:18px; background-position:center; background-repeat:no-repeat; }
				.rating .star.full { background-image:url(../img/star_full.png); }
				.rating .star.empty { background-image:url(../img/star_empty.png); }
		
/** Our Brand Family **/
#BrandFamily { background-color:#f3eee2; }
	#BrandFamily h1 { color:#bcae9f; padding:12px 0; margin:0; line-height:110%; }
nav.brands a { height:160px; line-height:160px; text-align:center; background-color:#fff; border:2px solid #f3eee2; text-decoration:none;  }

footer { padding:16px; }


/** Deliciously Mobile **/
@media screen and (max-width: 767px) {
	body { font-size: 12px; padding-left:0; padding-right:0; }
	.grabber h1 { font-size:200%; margin:9px 0; text-align:center; }
	.featured details h2 { max-height:61px; }
	.midSection { height:195px; }
	nav.brands a { height:110px; line-height:110px; }
	
	/** A Series of "Don't Do That" on mobile **/
		.blueBorderRight { border-right:none; }
	}  